.container {
    display: block;
    max-width: 100%;
    min-height: 80px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px auto;
}

.email {
    min-height: 10px;
    border-bottom: 1px solid white;
    padding: 10px;
    color: burlywood;
}

.comment {
    display: block;
    min-height: 20px;
    padding: 10px;
    color: white;
    
}