.body{
    background-color: black;
}
.app-wraper{
  color: white;
  display: grid;
  grid-template-areas: 
  "header content"
   "header content";
   grid-template-rows: 1fr 1fr ;
   grid-template-columns: 1fr 3fr ;

}

.header {
grid-area: header; 
background-color: rgb(32, 32, 32);

}

.content {
grid-area: content;
display: block;
background-color: rgb(56, 56, 56);

}

.aside-elements{
    position: fixed
}